.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: bold;
}