@import '~antd/dist/antd.css';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
<<<<<<< HEAD
  background-color: darkcyan;
  font-family: Varela Round;
  /* justify-content: space-between; */
  width: 100%;
}

.screen-container {
  min-height: 67vh !important;
}

.min-vh {
  min-height: 70vh;
}

/* .card > div {
  display: flex;
  padding: 30px;
  margin: 50px;
} */

.fnt_clr {
  font-size: 20px;
  color: #06bc9b;
  /* font-family: Varela Round; */
  font-weight: 400 !important ;
=======
  /* background-color: darkcyan; */
  background-color: #f5f6f7;
  font-family: Varela Round;

  justify-content: space-between;
}
.min-vh{
  min-height: 70vh;
}

.card > div {
  display: flex;
  padding: 30px;
  margin: 50px;
}




.fnt_clr {
  font-size: 20px;
  color: #06BC9B;
  /* font-family: Varela Round; */
  font-weight: 400 !important ;
  
>>>>>>> 2f2e6adceb13a9998452df8e5ff65400daace06e
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
<<<<<<< HEAD
}

.justify-around {
  justify-content: space-around;
}
/* PADDING */
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 15px;
}
.p-4 {
  padding: 20px;
}
.p-5 {
  padding: 25px;
}
.p-6 {
  padding: 30px;
}
.p-7 {
  padding: 35px;
}
.p-8 {
  padding: 40px;
}
.p-9 {
  padding: 45px;
}
.p-10 {
  padding: 50px;
}

/* PADDING RIGHT */
.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 20px;
}
.pr-5 {
  padding-right: 25px;
}
.pr-6 {
  padding-right: 30px;
}
.pr-7 {
  padding-right: 35px;
}
.pr-8 {
  padding-right: 40px;
}
.pr-9 {
  padding-right: 45px;
}
.pr-10 {
  padding-right: 50px;
}

/* PADDING LEFT */
.pl-0 {
  padding-left: 0px;
}
.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 20px;
}
.pl-5 {
  padding-left: 25px;
}
.pl-6 {
  padding-left: 30px;
}
.pl-7 {
  padding-left: 35px;
}
.pl-8 {
  padding-left: 40px;
}
.pl-9 {
  padding-left: 45px;
}
.pl-10 {
  padding-left: 50px;
}

/* PADDING TOP */
.pt-0 {
  padding-left: 0px;
}
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-5 {
  padding-top: 25px;
}
.pt-6 {
  padding-top: 30px;
}
.pt-7 {
  padding-top: 35px;
}
.pt-8 {
  padding-top: 40px;
}
.pt-9 {
  padding-top: 45px;
}
.pt-10 {
  padding-top: 50px;
}

/* PADDING BOTTOM */
.pb-0 {
  padding-bottom: 0px;
}
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pb-5 {
  padding-bottom: 25px;
}
.pb-6 {
  padding-bottom: 30px;
}
.pb-7 {
  padding-bottom: 35px;
}
.pb-8 {
  padding-bottom: 40px;
}
.pb-9 {
  padding-bottom: 45px;
}
.pb-10 {
  padding-bottom: 50px;
}

/* MARGIN */
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}
.m-5 {
  margin: 25px;
}
.m-6 {
  margin: 30px;
}
.m-7 {
  margin: 35px;
}
.m-8 {
  margin: 40px;
}
.m-9 {
  margin: 45px;
}
.m-10 {
  margin: 50px;
}

/* MARGIN LEFT */
.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}
.ml-6 {
  margin-left: 30px;
}
.ml-7 {
  margin-left: 35px;
}
.ml-8 {
  margin-left: 40px;
}
.ml-9 {
  margin-left: 45px;
}
.ml-10 {
  margin-left: 50px;
}

/* MARGIN RIGHT */
.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}
.mr-6 {
  margin-right: 30px;
}
.mr-7 {
  margin-right: 35px;
}
.mr-8 {
  margin-right: 40px;
}
.mr-9 {
  margin-right: 45px;
}
.mr-10 {
  margin-right: 50px;
}

/* MARGIN TOP */
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}
.mt-6 {
  margin-top: 30px;
}
.mt-7 {
  margin-top: 35px;
}
.mt-8 {
  margin-top: 40px;
}
.mt-9 {
  margin-top: 45px;
}
.mt-10 {
  margin-top: 50px;
}

/* MARGIN BOTTOM */
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}
.mb-6 {
  margin-bottom: 30px;
}
.mb-7 {
  margin-bottom: 35px;
}
.mb-8 {
  margin-bottom: 40px;
}
.mb-9 {
  margin-bottom: 45px;
}
.mb-10 {
  margin-bottom: 50px;
}

/* For mobile phones: */
.col-s-1 {
  width: 8.33%;
}

.col-s-2 {
  width: 16.66%;
}

.col-s-3 {
  width: 25%;
}

.col-s-4 {
  width: 33.33%;
}

.col-s-5 {
  width: 41.66%;
}

.col-s-6 {
  width: 50%;
}

.col-s-7 {
  width: 58.33%;
}

.col-s-8 {
  width: 66.66%;
}

.col-s-9 {
  width: 75%;
}

.col-s-10 {
  width: 83.33%;
}

.col-s-11 {
  width: 91.66%;
}

.col-s-12 {
  width: 100%;
}

.title-wrapper * {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.1em;
  line-height: 1em;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .App {
    background-color: red;
    min-height: 100vh !important;
  }
  .screen-container {
    min-height: 67vh !important;
  }
  .row-md {
    display: flex;
    flex-direction: row;
  }
  .profile-text {
    font-size: 22px;
  }
  .column-md {
    display: flex;
    flex-direction: column;
  }

  .justify-md-center {
    justify-content: center;
  }

  .justify-md-around {
    justify-content: space-around;
  }

  .justify-md-between {
    justify-content: space-between;
  }

  .align-md-center {
    align-items: center;
  }

  .align-md-start {
    align-items: flex-start;
  }

  .align-md-end {
    align-items: flex-end;
  }

  .title-wrapper * {
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1em;
    line-height: 1em;
  }

  .floating-text {
    font: bold 31px 'Ubuntu', serif;
  }

  h2 {
    font-size: 18px;
  }

  .title-wrapper {
    position: absolute;
    top: 110%;
    left: 10%;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .App {
    background-color: green;
  }
  .row-lg {
    display: flex;
    flex-direction: row;
  }

  .column-lg {
    display: flex;
    flex-direction: column;
  }
  .profile-text {
  }
  .justify-lg-center {
    justify-content: center;
  }

  .justify-lg-around {
    justify-content: space-around;
  }

  .justify-lg-between {
    justify-content: space-between;
  }

  .align-lg-center {
    align-items: center;
  }

  .align-lg-start {
    align-items: flex-start;
  }

  .align-lg-end {
    align-items: flex-end;
  }

  .title-wrapper * {
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1em;
    line-height: 1em;
  }

  .title-wrapper {
    position: absolute;
    top: 60%;
    left: 10%;
  }

  .floating-text {
    font: bold 62px 'Ubuntu', serif;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
=======
}

.justify-around {
  justify-content: space-around;
}
   /* PADDING */
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 15px;
}
.p-4 {
  padding: 20px;
}
.p-5 {
  padding: 25px;
}
.p-6 {
  padding: 30px;
}
.p-7 {
  padding: 35px;
}
.p-8 {
  padding: 40px;
}
.p-9 {
  padding: 45px;
}
.p-10 {
  padding: 50px;
}

   /* PADDING RIGHT */
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 20px;
}
.pr-5 {
  padding-right: 25px;
}
.pr-6 {
  padding-right: 30px;
}
.pr-7 {
  padding-right: 35px;
}
.pr-8 {
  padding-right: 40px;
}
.pr-9 {
  padding-right: 45px;
}
.pr-10 {
  padding-right: 50px;
}
 
   /* PADDING LEFT */
.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 20px;
}
.pl-5 {
  padding-left: 25px;
}
.pl-6 {
  padding-left: 30px;
}
.pl-7 {
  padding-left: 35px;
}
.pl-8 {
  padding-left: 40px;
}
.pl-9 {
  padding-left: 45px;
}
.pl-10 {
  padding-left: 50px;
}

  /* PADDING TOP */
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-5 {
  padding-top: 25px;
}
.pt-6 {
  padding-top: 30px;
}
.pt-7 {
  padding-top: 35px;
}
.pt-8 {
  padding-top: 40px;
}
.pt-9 {
  padding-top: 45px;
}
.pt-10 {
  padding-top: 50px;
}

   /* PADDING BOTTOM */
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pb-5 {
  padding-bottom: 25px;
}
.pb-6 {
  padding-bottom: 30px;
>>>>>>> 2f2e6adceb13a9998452df8e5ff65400daace06e
}
.pb-7 {
  padding-bottom: 35px;
}
.pb-8 {
  padding-bottom: 40px;
}
.pb-9 {
  padding-bottom: 45px;
}
.pb-10 {
  padding-bottom: 50px;
}

  /* MARGIN */
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}
.m-5 {
  margin: 25px;
}
.m-6 {
  margin: 30px;
}
.m-7 {
  margin: 35px;
}
.m-8 {
  margin: 40px;
}
.m-9 {
  margin: 45px;
}
.m-10 {
  margin: 50px;
}

   /* MARGIN LEFT */
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}
.ml-6 {
  margin-left: 30px;
}
.ml-7 {
  margin-left: 35px;
}
.ml-8 {
  margin-left: 40px;
}
.ml-9 {
  margin-left: 45px;
}
.ml-10 {
  margin-left: 50px;
}

  /* MARGIN RIGHT */
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}
.mr-6 {
  margin-right: 30px;
}
.mr-7 {
  margin-right: 35px;
}
.mr-8 {
  margin-right: 40px;
}
.mr-9 {
  margin-right: 45px;
}
.mr-10 {
  margin-right: 50px;
}


   /* MARGIN TOP */
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}
.mt-6 {
  margin-top: 30px;
}
.mt-7 {
  margin-top: 35px;
}
.mt-8 {
  margin-top: 40px;
}
.mt-9 {
  margin-top: 45px;
}
.mt-10 {
  margin-top: 50px;
}

   /* MARGIN BOTTOM */
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}
.mb-6 {
  margin-bottom: 30px;
}
.mb-7 {
  margin-bottom: 35px;
}
.mb-8 {
  margin-bottom: 40px;
}
.mb-9 {
  margin-bottom: 45px;
}
.mb-10 {
  margin-bottom: 50px;
}




